@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Light.otf');
    src: local('Myriad-Pro-Light'),
    url('Myriad-Pro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Regular.ttf');
    src: local('Myriad-Pro-Regular'),
    url('Myriad-Pro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Bold.ttf');
    src: local('Myriad-Pro-Bold'),
    url('Myriad-Pro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Black.otf');
    src: local('Myriad-Pro-Black'),
    url('Myriad-Pro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}






