{{ $links := .Site.Params.links }}

{{ $title := (.Title | title ) }}
{{ $siteTitle := (.Site.Title) }}

{{ if eq $siteTitle $title }}
<footer class="bg-secondary py-4 row footer-color d-print-none " >
  <div class="container-fluid mx-sm-5 mt-4">
    {{ if eq .Language.LanguageName "English" }}
    <!-- footer in english -->
    <div class="row">
      <div class="col-md-4 col-sm-4 text-xs-center ">
        <div class="row">
          <!-- sitewhere col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "home" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <div>
              {{ with .Site.GetPage "platform" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "industries" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "use-cases" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "company" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
          </div>
          <!-- platform col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "platform" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <p class="footer-black-font">
              Overview
            </p>
            <p class="footer-black-font">
              Features
            </p>
            <p class="footer-black-font">
              Demo
            </p>
            <p class="footer-black-font">
              Pricing
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4  text-xs-center ">
        <div class="row">
          <!-- industries col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "industries" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <p class="footer-black-font">
              Industrial Monitoring
            </p>
            <p class="footer-black-font">
              Smart Environment
            </p>
            <p class="footer-black-font">
              Tracking
            </p>
            <p class="footer-black-font">
              Smart Parking
            </p>
          </div>
          <!-- open source col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "community" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">Open Source</a></p>{{ end }}
            <div>
              {{ with .Site.GetPage "community" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "blog" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "docs" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-3 text-xs-center ">
        <div class="row mt-5">
          <img class="img-footer" src="/images/logos/azulH.svg" />
          <div class="footer-brand-text mt-4 px-0" style="width: 380px">
            Sitewhere is an enterprise IoT platform that makes it easy to build connected solutions that produce real-time results.
          </div>


        </div>

      </div>
    </div>
    {{ else }}
    <!-- footer in spanish -->
    <div class="row">
      <div class="col-md-4 col-sm-4 text-xs-center ">
        <div class="row">
          <!-- sitewhere col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "home" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <div>
              {{ with .Site.GetPage "plataforma" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "industrias" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "casos-de-uso" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "compania" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
          </div>
          <!-- platform col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "plataforma" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <p class="footer-black-font">
              Vista Rápida
            </p>
            <p class="footer-black-font">
              Características
            </p>
            <p class="footer-black-font">
              Demo
            </p>
            <p class="footer-black-font">
              Precios
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4  text-xs-center ">
        <div class="row">
          <!-- industries col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "industrias" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            <p class="footer-black-font">
              Monitoreo Industrial
            </p>
            <p class="footer-black-font">
              Entorno Inteligente
            </p>
            <p class="footer-black-font">
              Seguimiento
            </p>
            <p class="footer-black-font">
              Estacionamiento Inteligente
            </p>
          </div>
          <!-- open source col -->
          <div class="col-md-6 col-sm-6">
            {{ with .Site.GetPage "comunidad" }}<p class="mt-2 "><a class="footer-white-font" href="{{ .RelPermalink }}">Código Abierto</a></p>{{ end }}
            <div>
              {{ with .Site.GetPage "comunidad" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "blog" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
            <div>
              {{ with .Site.GetPage "documentacion" }}<p class="mt-2 "><a class="footer-black-font" href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-3 text-xs-center">
        <div class="row mt-5">
          <img class="img-footer" src="/images/logos/azulH.svg" />
          <div class="row footer-brand-text text-center mt-4 mx-auto">
            SiteWhere es una plataforma IoT empresarial que permite construir soluciones conectadas que generan resultados en tiempo real.
          </div>


        </div>

      </div>
    </div>
    {{ end }}
  </div>

</footer>
{{ else }}
<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
        {{ if not .Site.Params.ui.footer_about_disable }}
        {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</footer>

{{ end }}

{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}



