{{ $cover := .HasShortcode "blocks/cover" }}
<link href="fonts/AktivGrotesk-Font/stylesheet.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light menu-style">
	<div class="d-flex container-fluid">
		<div class="flex-grow-1">
			<a class="navbar-brand" aria-current="page" href="{{ .Site.Home.RelPermalink }}"><img src="/images/footer/azulH.svg" class="logo-menu"></a>
			<button class="navbar-toggler" type="image" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
       <!-- <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
		<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span>
	</a>-->
	<div class="collapse navbar-collapse justify-content-end" id="main_navbar">
		<ul class="navbar-nav me-auto lg-0">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			<li class="nav-item pt-3 btn">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a {{ if .Identifier }}id="{{ .Identifier }}"{{ end }} class="nav-link" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span class="menu-items-font">{{ .Name }}</span></a>
			</li>
			{{ end }}
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown pt-3 d-none d-lg-block  ">
				{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
				<a class="nav-link {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="menu-items-font">{{ $langPage.Language.LanguageName }}</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{{ range $langPage.Translations }}
					<a class="dropdown-item" href="{{ .RelPermalink }}"><span class="menu-items-font">{{ .Language.LanguageName }}</span> </a>
					{{ end }}
				</div>
			</li>
			{{ end }}
			<li class=" nav-item pt-3" >
				<a class="nav-link btn" target="_blank" href="https://portal.sitewhere.io">
					<span class="menu-items-font-red">Enterprise</span></a></li>
		</ul>
	</div>
	</div>
</nav>
