<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>SiteWhere</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="fonts/AktivGrotesk-Font/stylesheet.css" rel="stylesheet" />
	<link href="fonts/Myriad-Pro-Font/stylesheet.css" rel="stylesheet" />
</head>

<body>
<h1 style="font-family: 'Myriad Pro'; font-weight: 300">bootstrap and new css</h1>

<div class="container">
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<div>Cloud Native IoT Application</div>
			<div>Enablement Platform</div>
			<div>Deploy customized, portable IoT solutions including infraestructure and services to any cloud that supports Kubernetes.</div>
		</div>
	</div>
</div>

</body>
</html>
