+++
title = "SiteWhere"
linkTitle = "SiteWhere"

+++

<!-- Fonts -->
<link href="fonts/AktivGrotesk-Font/stylesheet.css" rel="stylesheet" />
<link href="fonts/Myriad-Pro-Font/stylesheet.css" rel="stylesheet" />

<!-- section 1 -->
{{< blocks/cover title="" image_anchor="top" height="full" color="blue" >}}
<!--<section id="first-section" class=" first-background row td-cover-block js-td-cover td-overlay
 -bg-blue pt-0 pb-0">-->
	<div class="row align-items-center  mt-5 mb-5" >
		<div class="col-6">

		</div>
		<div class="col-6">
			<div class=" mt-5 mb-5">
				<div class="section-title">Cloud Native IoT Application</div>
				<div class="section-1-sub-title">Enablement Platform</div>
				<div class="section-text">Deploy customized, portable IoT solutions including infrastructure and services to any cloud that supports Kubernetes.</div>
			</div>


				<div class="d-flex justify-content-center">
					<img src="/images/logos/logo_kubernetes.png" class="logo">
				</div>
				<div class="d-flex justify-content-between pt-5">
					<img src="/images/logos/logo_google_cloud.png" class="logo-row">
					<img src="/images/logos/logo_amazon.png" class="logo-row">
					<img src="/images/logos/logo_azure.png" class="logo-row">
				</div>

		</div>
		</div>
	</div>
{{< /blocks/cover >}}

<!-- section 2 -->
<section id="second-section"  class="row td-cover-block js-td-cover -bg-blue second-background">
	<div class="row">

	</div>
</section>

<!-- section 3 -->
<section id="third-section" style="" class="row td-cover-block js-td-cover third-background  -bg-blue">
	<div class="container-fluid">
		<div class="col-7">
			<div class="d-flex justify-content-center mb-5">
				<img src="/images/home/cloud_lock.png" alt="" class="logo-cloud-lock"/>
			</div>
			<div class="text-center section-title mb-5">
				Avoid <span class="text-red">Lock-In</span> and <span class="text-red">Deploy</span>
					to Any Cloud</span>
			</div>
			<div class="section-text text-center text-wrap-in-col">
				Prevent your IoT solution from being tied to a single cloud provider.
				SiteWhere embraces the cloud-native ecosystem of Kubernetes and may be deployed to
				any provider that supports Kubernetes. Benefit from the huge ecosystem of projects
					already running on Kubernetes.
			</div>
		</div>
	</div>
</section>

<!-- section 4 -->
<section id="forth-section" class="fourth-background row td-cover-block js-td-cover td-overlay -bg-blue">

	<div class="row ">
		<div class="col-5">
			<div class="d-flex justify-content-center">
				<img src="/images/logos/logo_apache.png" class="logo-open-source">
			</div>
			<div class="d-flex justify-content-center ">
				<img src="/images/logos/logo_cloud_native.png" class="logo-open-source">
			</div>
			<div class="d-flex justify-content-center mb-5">
				<img src="/images/logos/logo_helm.png" class="logo-open-source">
			</div>
		</div>
		<div class="col-7">
			<div class="d-flex justify-content-start">
				<img src="/images/logos/image_open_source.png" class="logo-open-source-green">
			</div>
			<div class="text-left mt-3 section-title-white mr-lg-5 pr-lg-5" >
				Build on an
				<span class="text-green"> Open Source Core </span>
				for Maximum Clarity
			</div>
			<div class="text-left mt-3 section-text-white mr-lg-5 pr-lg-5">
				The core libraries, microservices and tooling for SiteWhere are made available as
				open source under the Apache 2.0 license. Understand the code running your IoT
				platform rather than using a "black box" system offered by many cloud providers.
				SiteWhere embraces the CNCF ecosystem and leverages technologies such as Kubernetes
				and Helm that are the core of the movement.
			</div>
		</div>
	</div>

</section>

<section id="fifth-section" style="" class="row td-cover-block js-td-cover td-overlay fifth-background  -bg-blue">
	<div class="row">
		<div class="col text-center">

		</div>
	</div>
</section>
<section id="sixth-section" class="row td-cover-block js-td-cover td-overlay sixth-background  -bg-blue">
	<div class="row">
		<div class="col-6">
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-center mr-5">
				<img src="/images/home/performance-scalability.png" class="logo-performance">
			</div>
			<div class="text-center mt-3 section-title mr-lg-5 pr-lg-5" >
				Designed with <span class="text-red">Performance</span>
				and
				<span class="text-red">Scalability </span>
				in Mind
			</div>
			<div class="text-center mt-3 section-text mr-lg-5 pr-lg-5">
				SiteWhere leverages many of the technologies used by the largest technology
				companies on the internet. An event pipeline based on Apache Kafka Streams
				moves device event data from sources such as MQTT and CoAP, stores it in
				highly-scalable time series databases, and allows data to be integrated with
				many of the most popular third-party systems.
			</div>
	</div>
	</div>
</section>
<section id="seventh-section" class="row td-cover-block   seventh-background  hover-bg-dark-blue">
<div class="row justify-center">
	{{< carousel >}}
</div>
</section>

<!--

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->
