+++
title = "SiteWhere"
linkTitle = "SiteWhere"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="black" >}}
<div class="row mt-4 text-right">
	<div class="col-6">

	</div>
	<div class="col-6 sm-order-2">
		<h1>Cloud-native IoT Application</h1>
		<h1 class="mt-5 text-blue"> Enablement Platform</h1>
		<div class="row text-black mt-4">
			Deploy customized, portable IoT solutions including infraestructure and services to any cloud that supports Kubernetes.
		</div>
		<div>
			<img src="/images/home/kubernetes.png" height="250"/>
		</div>
	<!--<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/sitewhere/sitewhere">
		Download <i class="fab fa-github ml-2 "></i>
	</a>-->

	</div>
<!--	{{< blocks/link-down color="white" >}}-->
</div>
{{< /blocks/cover >}}


<!--{{ .Site.BaseURL }}/img/{{ .Site.Params.second_background }}-->
<section id="second-section"  class="row td-cover-block js-td-cover td-overlay -bg-blue second-background">
	<div class="row">

	</div>
</section>

<section id="third-section" style="" class="row td-cover-block js-td-cover third-background  -bg-blue">
	<div class="container-fluid">
		<div class="col-7">
			<div class="row text-center mb-5">
				<img src="/images/home/cloud_lock.png" alt="" height="200" object-fit="cover" style="margin-left: auto; margin-right: auto; width: 50%;"/>
			</div>
			<div class="text-center text-dark mb-5">
				Avoid <span class="text-red">Lock-In</span> and <span class="text-red">Deploy</span>
					to Any Cloud</span>
			</div>
			<div class="text-black text-dark text-center text-wrap-in-col">
				<p>Prevent your IoT solution from being tied to a single cloud provider.
				SiteWhere embraces the cloud-native ecosystem of Kubernetes and may be deployed to
				any provider that supports Kubernetes. Benefit from the huge ecosystem of projects
					already running on Kubernetes.</p>
			</div>
		</div>
	</div>
</section>

<section id="forth-section" class="row td-cover-block js-td-cover td-overlay fourth-background -bg-blue">
	<div class="row ml-5 text-center" >
		<div class="text-center mx-auto">
		<span class="">Build on an Open Source Core
			for Maximun Clarity</span>
		</div>
	</div>
</section>

<section id="fifth-section" style="" class="row td-cover-block js-td-cover td-overlay fifth-background  -bg-blue">
	<div class="row">
		<div class="col text-center">

		</div>
	</div>
</section>
<section id="sixth-section" class="row td-cover-block js-td-cover td-overlay sixth-background  -bg-blue">
	<div class="row">

	</div>
</section>
<section id="seventh-section" class="row td-cover-block js-td-cover td-overlay seventh-background  -bg-blue">
	<div class="row">

	</div>
</section>
<!--

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->
