<!-- Carousel CSS -->
<link rel="stylesheet" href="/css/jquery.circular-carousel.css">
<!-- Carousel JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/jquery.circular-carousel.js"></script>
<script src="/js/circular-carousel-script.js"></script>

<div class="container-fluid row align-items-center">
  <div class="col align-self-center" align="center" >
    <div class="controls">
      <a href="#" class="previous btn btn-link" role="button"> previo<i class="bi bi-chevron-left arrows"></i></a>
    </div>
  </div>
  <div class="col-md-auto align-self-center justify-content-center" align="center" style="height: 300px; width: 820px;">
    <div>
      <ul class="carousel">
        <li class="item active"><img src="/images/logos/logo_google_cloud.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/logo_amazon.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/logo_apache.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/logo_azure.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/logo_helm.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/logo_kubernetes.png" class="logo-row"></li>
        <li class="item"><img src="/images/logos/image_open_source.png" class="logo-row"></li>
      </ul>
    </div>

  </div>
  <div class="col align-self-center" align="center">
    <div class="controls">
      <a href="#" class="next btn btn-link" role="button">siguiente<i class="bi bi-chevron-right arrows" ></i></a>
    </div>
  </div>
</div>

